- name: Create security group for this instance 
  ec2_group:
    name: ansible_security_group
    description: ansible security group
    region: us-east-2
    rules:
        - proto: tcp
          from_port: 22
          to_port: 22
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 80
          to_port: 80
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 443
          to_port: 443
          cidr_ip: 0.0.0.0/0
    rules_egress:
        - proto: all
          cidr_ip: 0.0.0.0/0
  register: basic_firewall

- name: Create Ec2 instance 
  ec2: 
    key_name: "centOS"
    region: us-east-2
    group_id: "{{basic_firewall.group_id}}"
    instance_type: t2.micro
    image: "ami-3883a55d"
    wait: yes
    exact_count: 1
    count_tag: 
      Name: Wordpress
    instance_tags:
      Name: Wordpress
    vpc_subnet_id: subnet-fd468cb0
    assign_public_ip: yes
  register: ec2 

- name: Add all instance public IPs to host group
  add_host: hostname={{ item.public_ip }} groups=ec2hosts
  with_items: "{{ ec2.instances }}"

- name: Add all ips to hosts file 
  lineinfile: 
              dest: "inventory/hosts" 
              regexp: "{{ item.public_ip }}" 
              insertafter: "[webserver]"
              line: "{{ item.public_ip }} ansible_ssh_user=ec2-user ansible_ssh_private_key_file=centOS.pem"
              state: present
  with_items: "{{ ec2.instances }}"

# wait for the host to be added 
- wait_for: path="inventory/hosts" search_regex="ansible_ssh_user=ec2-user ansible_ssh_private_key_file=centOS.pem"

- name: Wait for SSH to come up
  wait_for:
    host: "{{ item.public_ip }}"
    port: 22
    state: started
  with_items: "{{ ec2.instances }}"

# refresh hosts
- meta: refresh_inventory





