
  - name: install docker
    yum: name=docker state=installed update_cache=yes
    #command: sudo yum install -y docker
  - name: start docker service
    service: 
      name: docker
      state: started
      runlevel: 2345
    #command: sudo service docker start 
  - name: Add user to the docker group 
    command: sudo usermod -a -G docker ec2-user
  - name: Create directory
    file:
      path: /home/ec2-user/variables
      state: directory
      mode: 0755
  - name: Copy file 
    copy: 
      src: env.list
      dest: variables/env.list
      owner: ec2-user
      mode: 0644
  - name: Start mysql
    command: sudo docker run -tdi --name mysql -p 3306:3306 --env-file ./variables/env.list  mysql:5.7
