
  - name: install docker
    yum: name={{item}} state=installed update_cache=yes
    with_items: 
      - python
      - python-virtualenv 
      - python-pip
      - docker

  - name: install docker-py
    pip: name=docker-py state=present

  - name: start docker service
    service: 
      name: docker
      state: started
      runlevel: 2345
    
  - name: Add user to the docker group 
    command: sudo usermod -a -G docker ec2-user

  - name: Create directory for docker variables file
    file:
      path: /home/ec2-user/variables
      state: directory
      mode: 0755

  - name: Copy docker variables file 
    copy: 
      src: templates/env.list
      dest: variables/env.list
      owner: ec2-user
      mode: 0644

  - name: Create a mysql container
    docker_container:
      name: mysql
      image: mysql/mysql-server:5.7
      published_ports: 127.0.0.1:3306:3306
      env_file: ./variables/env.list
